/* Remove default list styles */
.navbar {
  background-color: #0d2726;
  padding-left: 3%;
  padding-right: 3%;
  color: rgb(255, 255, 255);  

  font-family: "Inter", serif;
  font-weight: 300;
  font-weight: 200;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.username {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 1% 2%; 
  font-weight: 400;
  color: rgb(31, 5, 11);
  background-color: rgb(233, 209, 209);

  position: absolute;
  min-width: 10rem;
  bottom: -1rem;
  right: 5rem;
  border-radius: 30px;
}
.user-cont img {
  position: absolute;
  bottom: -3rem;
  right: 2rem;
  border-radius: 100%;
}


