.play-container {
    height: 100vh;
    display: flex;
    font-family: "Inter", serif;
    font-weight: 200;
    background-color: #190421;
    color: #dff8ff;
    flex: 1;
    overflow: hidden;
}
.left-col, 
.right-col {
    margin-top: 10%;
}

.left-col {
    width: 20%;
}
.left-col p {
    padding: 10%;
    margin: 0px 10%;
    min-height: 60vh;
    overflow: scroll;
    background-color: rgb(43, 53, 52);
}
.left-col button {
    margin: 10% auto;
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    /* border-radius: 1px; */
    background-color: #9f74a7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.left-col button:hover {
    background-color: white;
}

.right-col {
    display: flex;
}
.opp-col,
.user-col {
    display: flex;
    width: 10vw;
    padding: 1%;
    max-height: 60vh;
    flex: 1;
    text-align: center;
}
.opp-col div,
.user-col div {
    margin: 0px auto;
}
.opp-col {
    flex-direction: row;
    align-items: flex-start;
}
.user-col {
    flex-direction: row;
    align-items: flex-end;
}
.game {
    box-sizing: border-box;
    padding: 10%;
    min-width: 50vw;
    min-height: 60vh;
    background-color: rgb(43, 53, 52);
}
.profile-avatar {
    border-radius: 90px;
}
.game-button-group {
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
}
.game-button-group button {
    font-weight: 300;
    color: #1f0c0c;
    background-color: #69ED8C;
    padding: 2% 5%;
    border: none;
    border-radius: 2px;
    margin-right: 2%;
    cursor: pointer;
}